/******************************************************************
  Theme Name: Cake
  Description: Cake e-commerce tamplate
  Author: Colorib
  Author URI: https://www.colorib.com//
  Version: 1.0
  Created: Colorib
******************************************************************/
/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Banner Section
6.  Product Section
7.  Intagram Section
8.  Latest Section
9.  Contact
10.  Footer Style
-------------------------------------------------------------------*/
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #11111194;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 35px;
}
.section-title span {
  color: #ec7e1f;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 10px;
}
.section-title h2 {
  font-size: 46px;
  color: #111111;
  line-height: 60px;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #ffffff;
  background: #f08632;
  letter-spacing: 2px;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  background: #111111;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding: 14px 30px;
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
.spacial-controls {
  position: fixed;
  width: 111px;
  height: 91px;
  top: 0;
  right: 0;
  z-index: 999;
}

.spacial-controls .search-switch {
  display: block;
  height: 100%;
  padding-top: 30px;
  background: #323232;
  text-align: center;
  cursor: pointer;
}

.search-model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 99999;
}

.search-model-form {
  padding: 0 15px;
}

.search-model-form input {
  width: 500px;
  font-size: 40px;
  border: none;
  border-bottom: 2px solid #333;
  background: 0 0;
  color: #999;
}

.search-close-switch {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
  line-height: 28px;
  top: 30px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*---------------------
  Header
-----------------------*/
.header {
  background: #ec7e1f;
}

.header__top {
  position: relative;
  background: #ffffff;
}

.header__top__inner {
  height: 102px;
  padding-top: 38px;
}

.header__top__left {
  float: left;
}
.header__top__left ul li {
  font-size: 14px;
  color: #111111;
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
}
.header__top__left ul li a {
  color: #111111;
}
.header__top__left ul li:hover ul {
  top: 24px;
  opacity: 1;
  visibility: visible;
}
.header__top__left ul li ul {
  background: #111111;
  display: inline-block;
  padding: 2px 0;
  position: absolute;
  left: 0;
  top: 44px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.header__top__left ul li ul li {
  list-style: none;
  font-size: 13px;
  color: #ffffff;
  padding: 2px 15px;
  cursor: pointer;
}
.header__top__left ul li ul li:after {
  display: none;
}
.header__top__left ul li:after {
  position: absolute;
  right: -19px;
  top: 1px;
  content: "|";
  color: #bbbbbb;
}
.header__top__left ul li:last-child {
  margin-right: 0;
}
.header__top__left ul li:last-child:after {
  display: none;
}
.header__top__left ul li span {
  color: #888888;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: -170px;
}
.header__logo a {
  display: inline-block;
}

.header__top__right {
  float: right;
}

.header__top__right__links {
  display: inline-block;
  margin-right: 25px;
}
.header__top__right__links a {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
.header__top__right__links a:after {
  position: absolute;
  right: -22px;
  top: 0px;
  content: "|";
  font-size: 16px;
  color: #bababa;
}
.header__top__right__links a:last-child {
  margin-right: 10px;
}
.header__top__right__links a:last-child:after {
  display: none;
}

.header__top__right__cart {
  display: inline-block;
}
.header__top__right__cart a {
  position: relative;
  display: inline-block;
  margin-right: 6px;
}
.header__top__right__cart a span {
  font-size: 15px;
  color: #111111;
  font-weight: 600;
  position: absolute;
  left: 7px;
  top: 4px;
}
.header__top__right__cart .cart__price {
  display: inline-block;
  color: #888888;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: 4px;
}
.header__top__right__cart .cart__price span {
  color: #111111;
}

.header__menu {
  text-align: center;
}
.header__menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: -5px;
}
.header__menu ul li.active a {
  background: #111111;
}
.header__menu ul li:hover a {
  background: #111111;
}
.header__menu ul li:hover .dropdown {
  top: 62px;
  opacity: 1;
  visibility: visible;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li .dropdown {
  position: absolute;
  left: 0;
  top: 82px;
  width: 150px;
  background: #111111;
  text-align: left;
  padding: 5px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.header__menu ul li .dropdown li {
  display: block;
  margin-right: 0;
}
.header__menu ul li .dropdown li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: capitalize;
}
.header__menu ul li .dropdown li a:after {
  display: none;
}
.header__menu ul li a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  padding: 20px 35px 18px;
  letter-spacing: 1px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}

/*---------------------
  Hero
-----------------------*/
.hero__item {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.hero__text {
  text-align: center;
  background: #ffffff;
  padding: 65px 70px 70px;
  position: relative;
}
.hero__text:after {
  position: absolute;
  left: 15px;
  top: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  border: 1px dashed #f08632;
  content: "";
  opacity: 0.3;
}
.hero__text h2 {
  font-size: 46px;
  color: #111111;
  line-height: 60px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 18px;
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.hero__text .primary-btn {
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  transition: all, 0.6s;
}

.hero__slider.owl-carousel .owl-item.active .hero__text h2 {
  top: 0;
  opacity: 1;
}
.hero__slider.owl-carousel .owl-item.active .hero__text .primary-btn {
  top: 0;
  opacity: 1;
}
.hero__slider.owl-carousel .owl-nav button {
  height: 50px;
  width: 50px;
  background: rgba(17, 17, 17, 0.5);
  border-radius: 50%;
  color: #ffffff;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -15px;
}
.hero__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 30px;
}

/*---------------------
  Categories
-----------------------*/
.categories__slider {
  padding: 0 15px;
}
.categories__slider.owl-carousel .owl-stage-outer {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(240, 135, 50, 0.5);
}
.categories__slider.owl-carousel .owl-nav button {
  font-size: 36px;
  color: #888888;
  position: absolute;
  left: -60px;
  top: 35%;
}
.categories__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -60px;
}

.categories__item {
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  height: 194px;
  width: 194px;
  padding-top: 25px;
  position: relative;
}
.categories__item:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -48px;
  width: 15px;
  height: 15px;
  border: 1px solid #f08632;
  border-color: transparent #f08632 #f08632 transparent;
  content: "";
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  opacity: 0;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.categories__item:hover {
  background: #f08632;
}
.categories__item:hover:after {
  opacity: 1;
}
.categories__item:hover span {
  color: #ffffff;
}
.categories__item:hover h5 {
  color: #ffffff;
}

.categories__item__icon span {
  color: #f08632;
  -webkit-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
.categories__item__icon h5 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4px;
  -webkit-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}

/*---------------------
  Class
-----------------------*/
.class {
  background: rgba(240, 135, 50, 0.1);
  position: relative;
  padding-bottom: 0;
}

.class__form {
  height: 620px;
}
.class__form form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
  color: #444444;
  background: #ffffff;
  border: none;
  margin-bottom: 20px;
}
.class__form form input::-webkit-input-placeholder {
  color: #444444;
}
.class__form form input::-moz-placeholder {
  color: #444444;
}
.class__form form input:-ms-input-placeholder {
  color: #444444;
}
.class__form form input::-ms-input-placeholder {
  color: #444444;
}
.class__form form input::placeholder {
  color: #444444;
}
.class__form form .nice-select {
  float: none;
  border-radius: 0;
  border: none;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
}
.class__form form .nice-select span {
  font-size: 15px;
  color: #444444;
}
.class__form form .nice-select .list {
  margin-top: 0;
  border-radius: 0;
  width: 100%;
}
.class__form form .nice-select:after {
  border-bottom: 1.5px solid #111;
  border-right: 1.5px solid #111;
  height: 9px;
  right: 25px;
  width: 9px;
}
.class__form form button {
  letter-spacing: 2px;
  width: 100%;
}

.class__video {
  height: 720px;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: -50px;
}
.class__video .play-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f08632;
  font-size: 24px;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
}

/*---------------------
  Team
-----------------------*/
.team {
  padding-bottom: 70px;
}

.team__btn {
  text-align: right;
}
.team__btn .primary-btn {
  border: 2px solid #b7b7b7;
  background: transparent;
  color: #111111;
}

.team__item {
  height: 360px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__item:hover .team__item__text {
  opacity: 1;
  bottom: 0;
  visibility: visible;
}

.team__item__text {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.team__item__text h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.team__item__text span {
  color: #111111;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.team__item__social a {
  display: inline-block;
  color: #111111;
  font-size: 16px;
  margin-right: 14px;
}

/*---------------------
  Testimonial
-----------------------*/
.testimonial {
  background: #fdf3ea;
  padding-top: 90px;
  padding-bottom: 70px;
}

.testimonial__slider .col-lg-6 {
  max-width: 100%;
}
.testimonial__slider.owl-carousel .owl-dots {
  text-align: center;
  padding-top: 35px;
}
.testimonial__slider.owl-carousel .owl-dots button {
  height: 10px;
  width: 10px;
  background: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}
.testimonial__slider.owl-carousel .owl-dots button.active {
  background: rgba(17, 17, 17, 0.5);
}
.testimonial__slider.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}

.testimonial__item {
  background: #ffffff;
  padding: 40px 45px 35px 50px;
  position: relative;
}
.testimonial__item .rating {
  position: absolute;
  right: 50px;
  top: 60px;
}
.testimonial__item .rating span {
  font-size: 14px;
  color: #f0c656;
  margin-right: -5px;
  display: inline-block;
}
.testimonial__item p {
  color: #111111;
  font-style: italic;
  margin-bottom: 0;
}

.testimonial__author {
  overflow: hidden;
  margin-bottom: 24px;
}

.testimonial__author__pic {
  float: left;
  margin-right: 26px;
}
.testimonial__author__pic img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.testimonial__author__text {
  overflow: hidden;
  padding-top: 12px;
}
.testimonial__author__text h5 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.testimonial__author__text span {
  color: #444444;
  font-size: 14px;
}

/*---------------------
  Instagram
-----------------------*/
.instagram__text {
  padding-top: 90px;
}
.instagram__text .section-title {
  margin-bottom: 55px;
}
.instagram__text h5 {
  font-size: 20px;
  color: #444444;
  position: relative;
  z-index: 1;
}
.instagram__text h5:after {
  position: absolute;
  left: 0;
  top: -34px;
  background: url(../img/instagram/cake-piece.png) no-repeat;
  height: 139px;
  width: 114px;
  content: "";
}
.instagram__text h5 i {
  color: #111111;
  font-size: 36px;
  position: relative;
  top: 6px;
  margin-right: 8px;
}

.instagram__pic {
  margin-bottom: 30px;
}
.instagram__pic.middle__pic {
  padding-top: 30px;
  margin-bottom: 0;
}
.instagram__pic img {
  min-width: 100%;
}

/*---------------------
  Map
-----------------------*/
.map {
  position: relative;
  height: 300px;
}
.map .container {
  position: relative;
  z-index: 5;
  top: 20px;
}

.map__iframe {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.map__iframe iframe {
  width: 100%;
}

.map__inner {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
          box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  padding: 30px 25px 25px;
  position: relative;
}
.map__inner:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background: #ffffff;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto;
}
.map__inner h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.map__inner ul li {
  list-style: none;
  font-size: 14px;
  color: #444444;
  margin-bottom: 10px;
}

/*---------------------
  Product
-----------------------*/
.product {
  padding-top: 50px;
}

.product__item {
  margin-bottom: 40px;
}
.product__item:hover .product__item__pic .product__label span {
  background: #f08632;
  color: #ffffff;
}
.product__item:hover .product__item__text .product__item__price {
  opacity: 0;
  visibility: hidden;
}
.product__item:hover .product__item__text .cart_add {
  opacity: 1;
  visibility: visible;
  bottom: -4px;
}

.product__item__pic {
  height: 270px;
  position: relative;
  background-position: center;
}
.product__item__pic .product__label {
  position: absolute;
  left: 0;
  bottom: -15px;
  text-align: center;
  width: 100%;
}
.product__item__pic .product__label span {
  display: inline-block;
  font-size: 14px;
  color: #111111;
  background: #ffffff;
  padding: 6px 10px 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
          box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}

.product__item__text {
  padding-top: 40px;
  text-align: center;
  position: relative;
}
.product__item__text h6 {
  margin-bottom: 16px;
}
.product__item__text h6 a {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.product__item__text .product__item__price {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.product__item__text .cart_add {
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  opacity: 0;
  visibility: hidden;
}
.product__item__text .cart_add a {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 2px solid #f08632;
  padding-bottom: 4px;
}

/*---------------------
  Footer
-----------------------*/
.footer {
  padding-top: 70px;
}

.footer__widget {
  position: relative;
  margin-bottom: 30px;
}
.footer__widget:after {
  position: absolute;
  right: 25px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}
.footer__widget h6 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer__widget ul li {
  list-style: none;
  font-size: 14px;
  color: #a4a4a4;
  line-height: 36px;
}

.footer__about {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.footer__about:after {
  position: absolute;
  right: -35px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}
.footer__about .footer__logo {
  margin-bottom: 32px;
}
.footer__about .footer__logo a {
  display: inline-block;
}
.footer__about p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}
.footer__about .footer__social a {
  display: inline-block;
  color: #ffffff;
  background: rgba(225, 225, 225, 0.1);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin-right: 6px;
}
.footer__about .footer__social a:last-child {
  margin-right: 0;
}

.footer__newslatter {
  padding-left: 50px;
  margin-bottom: 30px;
}
.footer__newslatter h6 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer__newslatter p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}
.footer__newslatter form {
  position: relative;
}
.footer__newslatter form input {
  height: 50px;
  width: 100%;
  padding-left: 22px;
  background: rgba(253, 243, 234, 0.2);
  border: none;
  color: #ffffff;
  font-size: 14px;
}
.footer__newslatter form input::-webkit-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::-moz-placeholder {
  color: #ffffff;
}
.footer__newslatter form input:-ms-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::-ms-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::placeholder {
  color: #ffffff;
}
.footer__newslatter form button {
  font-size: 20px;
  color: #f08632;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
}

.copyright {
  background: #000000;
  padding: 18px 0 14px;
  margin-top: 40px;
}

.copyright__text {
  margin-bottom: 0;
  font-size: 14px;
  color: #888888;
}
.copyright__text i {
  color: #f08632;
}
.copyright__text a {
  color: #f08632;
}

.copyright__widget {
  text-align: right;
}
.copyright__widget ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.copyright__widget ul li:after {
  position: absolute;
  right: -18px;
  top: 0;
  content: "|";
  color: #888888;
}
.copyright__widget ul li:last-child {
  margin-right: 0;
}
.copyright__widget ul li:last-child:after {
  display: none;
}
.copyright__widget ul li a {
  font-size: 14px;
  color: #888888;
}

/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-option {
  padding-top: 60px;
}

.breadcrumb__text h2 {
  font-size: 50px;
  color: #000000;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.breadcrumb__links {
  text-align: right;
  padding-top: 15px;
}
.breadcrumb__links a {
  font-size: 16px;
  color: #111111;
  margin-right: 26px;
  display: inline-block;
  position: relative;
}
.breadcrumb__links a:after {
  position: absolute;
  right: -16px;
  top: 0;
  content: "|";
  color: #888888;
}
.breadcrumb__links span {
  font-size: 16px;
  color: #888888;
  display: inline-block;
}

/*---------------------
  About
-----------------------*/
.about__text p {
  margin-bottom: 0;
}

.about__bar .about__bar__item {
  margin-bottom: 40px;
}
.about__bar .about__bar__item p {
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about__bar .about__bar__item .barfiller {
  width: 100%;
  height: 8px;
  background: #e1e1e1;
  border: none;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}
.about__bar .about__bar__item .barfiller .tip {
  margin-top: -36px;
  padding: 0;
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  background: none;
}
.about__bar .about__bar__item .barfiller .tip:after {
  display: none;
}

.about__video {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}
.about__video .play-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #f08632;
  font-size: 24px;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
}

/*---------------------
  Shop
-----------------------*/
.shop {
  padding-top: 80px;
}

.shop__option {
  margin-bottom: 50px;
}

.shop__option__search form {
  border: 1px solid #e1e1e1;
  height: 46px;
  position: relative;
}
.shop__option__search form .nice-select {
  float: left;
  border: none;
  background: transparent;
  display: inline-block;
  width: 25%;
  height: 44px;
  line-height: 44px;
  padding-left: 30px;
  border-radius: 0;
}
.shop__option__search form .nice-select .list {
  margin-top: 0;
  border-radius: 0;
  width: 100%;
}
.shop__option__search form .nice-select:before {
  position: absolute;
  right: 0;
  top: 12px;
  width: 1px;
  height: 20px;
  background: #e1e1e1;
  content: "";
}
.shop__option__search form .nice-select:after {
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  height: 7px;
  margin-top: -5px;
  width: 7px;
  right: 26px;
}
.shop__option__search form .nice-select span {
  font-size: 16px;
  color: #000000;
}
.shop__option__search form input {
  width: 75%;
  height: 100%;
  border: none;
  font-size: 16px;
  color: #000000;
  padding-left: 30px;
}
.shop__option__search form input::-webkit-input-placeholder {
  color: #000000;
}
.shop__option__search form input::-moz-placeholder {
  color: #000000;
}
.shop__option__search form input:-ms-input-placeholder {
  color: #000000;
}
.shop__option__search form input::-ms-input-placeholder {
  color: #000000;
}
.shop__option__search form input::placeholder {
  color: #000000;
}
.shop__option__search form button {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
  height: 100%;
  padding: 0 15px;
}

.shop__option__right {
  text-align: right;
}
.shop__option__right .nice-select {
  border: none;
  background: #f5f5f5;
  display: inline-block;
  width: 205px;
  height: 46px;
  line-height: 46px;
  padding-left: 30px;
  border-radius: 0;
  float: none;
  margin-right: 18px;
}
.shop__option__right .nice-select .list {
  margin-top: 0;
  border-radius: 0;
  width: 100%;
}
.shop__option__right .nice-select:after {
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  height: 7px;
  margin-top: -5px;
  width: 7px;
  right: 26px;
}
.shop__option__right .nice-select span {
  font-size: 16px;
  color: #000000;
}
.shop__option__right a {
  display: inline-block;
  font-size: 18px;
  color: #000000;
  margin-left: 8px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.shop__option__right a:hover {
  color: #888888;
}

.shop__pagination a {
  display: inline-block;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
}
.shop__pagination a span {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 2px;
}
.shop__pagination a:hover {
  background: #000000;
  color: #ffffff;
}

.shop__last__text {
  margin-bottom: 0;
  color: #000000;
  text-align: right;
}

/*---------------------
  Product Details
-----------------------*/
.product-details {
  padding-top: 90px;
  padding-bottom: 0;
}

.product__details__big__img {
  width: calc(84% - 20px);
  float: left;
  margin-right: 20px;
}
.product__details__big__img img {
  min-width: 100%;
}

.product__details__thumb {
  height: 440px;
  float: left;
  width: 16%;
  overflow: hidden;
}
.product__details__thumb .pt__item {
  margin-bottom: 10px;
  cursor: pointer;
}
.product__details__thumb .pt__item img {
  min-width: 100%;
}

.product__details__text .product__label {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  background: #111111;
  padding: 6px 10px 4px;
  border-radius: 4px;
}
.product__details__text h4 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 22px;
}
.product__details__text h5 {
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.product__details__text p {
  color: #444444;
  margin-bottom: 18px;
}
.product__details__text ul {
  margin-bottom: 30px;
}
.product__details__text ul li {
  list-style: none;
  font-size: 16px;
  color: #888888;
  line-height: 28px;
}
.product__details__text ul li span {
  font-weight: 500;
  color: #111111;
}

.product__details__option {
  overflow: hidden;
}
.product__details__option .quantity {
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.product__details__option .pro-qty {
  height: 50px;
  width: 140px;
  border: 1px solid #e1e1e1;
  padding: 0 20px;
}
.product__details__option .pro-qty .qtybtn {
  font-size: 16px;
  float: left;
  height: 100%;
  line-height: 48px;
  cursor: pointer;
  font-weight: 600;
}
.product__details__option .pro-qty .qtybtn.dec {
  color: #888888;
}
.product__details__option .pro-qty .qtybtn.inc {
  color: #111111;
}
.product__details__option .pro-qty input {
  border: none;
  height: 100%;
  width: 82px;
  font-size: 16px;
  font-weight: 600;
  color: #111111;
  float: left;
  text-align: center;
}
.product__details__option a {
  float: left;
}
.product__details__option a.heart__btn {
  font-size: 20px;
  border: 1px solid #e1e1e1;
  display: inline-block;
  color: #f08632;
  padding: 14px;
  line-height: 16px;
}
.product__details__option .primary-btn {
  margin-right: 20px;
}

.product__details__tab {
  padding-top: 85px;
}
.product__details__tab .nav-tabs {
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__details__tab .nav-tabs .nav-item {
  margin-right: 45px;
  position: relative;
}
.product__details__tab .nav-tabs .nav-item:after {
  position: absolute;
  right: -25px;
  top: 0;
  content: "|";
  color: #444444;
}
.product__details__tab .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.product__details__tab .nav-tabs .nav-item:last-child:after {
  display: none;
}
.product__details__tab .nav-tabs .nav-item .nav-link {
  font-size: 16px;
  color: #444444;
  padding: 0;
  border: none;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}
.product__details__tab .nav-tabs .nav-item .nav-link.active {
  color: #111111;
  border-bottom: 1px solid #111111;
}
.product__details__tab .tab-content p {
  color: #444444;
  line-height: 30px;
  text-align: center;
  padding-top: 44px;
  margin-bottom: 0;
}

/*---------------------
  Related Products
-----------------------*/
.related-products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.related__products__slider.owl-carousel .col-lg-3 {
  max-width: 100%;
}
.related__products__slider.owl-carousel .owl-nav button {
  font-size: 30px;
  color: #888888;
  position: absolute;
  left: -44px;
  top: 28%;
}
.related__products__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -44px;
}

/*---------------------
  Shopping Cart
-----------------------*/
.shopping__cart__table {
  margin-bottom: 30px;
}
.shopping__cart__table table {
  width: 100%;
}
.shopping__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table thead tr th {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.shopping__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}
.shopping__cart__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}
.shopping__cart__table table tbody tr td.product__cart__item {
  width: 400px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
  float: left;
  margin-right: 30px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
  overflow: hidden;
  padding-top: 21px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
  color: #111111;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
}
.shopping__cart__table table tbody tr td.quantity__item {
  width: 175px;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty {
  width: 90px;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty input {
  width: 65px;
  border: none;
  text-align: center;
  color: #111111;
  font-size: 16px;
  font-weight: 500;
}
.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty .qtybtn {
  font-size: 16px;
  color: #888888;
  width: 10px;
  cursor: pointer;
  font-weight: 500;
}
.shopping__cart__table table tbody tr td.cart__price {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  width: 140px;
}
.shopping__cart__table table tbody tr td.cart__close span {
  font-size: 18px;
  display: inline-block;
  color: #111111;
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}

.continue__btn.update__btn {
  text-align: right;
}
.continue__btn.update__btn a {
  color: #ffffff;
  background: #111111;
  border-color: #111111;
}
.continue__btn.update__btn a i {
  margin-right: 5px;
}
.continue__btn a {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #e1e1e1;
  padding: 14px 35px;
  display: inline-block;
}
.cart__discount {
  margin-bottom: 60px;
}
.cart__discount h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.cart__discount form {
  position: relative;
}
.cart__discount form input {
  font-size: 14px;
  color: #444444;
  height: 50px;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}
.cart__discount form input::-webkit-input-placeholder {
  color: #444444;
}
.cart__discount form input::-moz-placeholder {
  color: #444444;
}
.cart__discount form input:-ms-input-placeholder {
  color: #444444;
}
.cart__discount form input::-ms-input-placeholder {
  color: #444444;
}
.cart__discount form input::placeholder {
  color: #444444;
}
.cart__discount form button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #111111;
  padding: 0 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.cart__total {
  background: #fdf3ea;
  padding: 35px 40px 40px;
}
.cart__total h6 {
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 600;
}
.cart__total ul {
  margin-bottom: 25px;
}
.cart__total ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
  line-height: 40px;
  overflow: hidden;
}
.cart__total ul li span {
  font-weight: 600;
  color: #e26b0c;
  float: right;
}
.cart__total .primary-btn {
  display: block;
  background: #111111;
  color: #ffffff;
  padding: 12px 10px;
  text-align: center;
  letter-spacing: 2px;
}

/*---------------------
  Checkout
-----------------------*/
.coupon__code {
  color: #444444;
  font-size: 14px;
  border-top: 2px solid #111111;
  background: #f5f5f5;
  padding: 23px 30px 18px;
  margin-bottom: 50px;
}
.coupon__code span {
  color: #f08632;
}
.coupon__code a {
  color: #444444;
}

.checkout__title {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.checkout__input {
  margin-bottom: 6px;
}
.checkout__input p {
  color: #444444;
  font-weight: 500;
  margin-bottom: 12px;
}
.checkout__input p span {
  color: #f08632;
}
.checkout__input input {
  height: 50px;
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #666666;
  padding-left: 20px;
  margin-bottom: 20px;
}
.checkout__input input::-webkit-input-placeholder {
  color: #666666;
}
.checkout__input input::-moz-placeholder {
  color: #666666;
}
.checkout__input input:-ms-input-placeholder {
  color: #666666;
}
.checkout__input input::-ms-input-placeholder {
  color: #666666;
}
.checkout__input input::placeholder {
  color: #666666;
}

.checkout__input__checkbox label {
  font-size: 14px;
  color: #444444;
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 16px;
  display: block;
}
.checkout__input__checkbox label input {
  position: absolute;
  visibility: hidden;
}
.checkout__input__checkbox label input:checked ~ .checkmark {
  border-color: #f08632;
}
.checkout__input__checkbox label input:checked ~ .checkmark:after {
  opacity: 1;
}
.checkout__input__checkbox label .checkmark {
  position: absolute;
  left: 0;
  top: 3px;
  height: 14px;
  width: 14px;
  border: 1.5px solid #888888;
  content: "";
  border-radius: 2px;
}
.checkout__input__checkbox label .checkmark:after {
  position: absolute;
  left: 1px;
  top: -3px;
  width: 14px;
  height: 7px;
  border: solid #f08632;
  border-width: 1.5px 1.5px 0px 0px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}
.checkout__input__checkbox p {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 22px;
}

.checkout__order {
  background: #fdf3ea;
  padding: 30px;
}
.checkout__order .order__title {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.checkout__order p {
  color: #444444;
  font-size: 16px;
}
.checkout__order .site-btn {
  width: 100%;
  margin-top: 8px;
  letter-spacing: 0;
}

.checkout__order__products {
  font-size: 16px;
  color: #111111;
  overflow: hidden;
  margin-bottom: 18px;
  font-weight: 600;
}
.checkout__order__products span {
  float: right;
}

.checkout__total__products {
  margin-bottom: 20px;
}
.checkout__total__products li {
  font-size: 16px;
  color: #444444;
  list-style: none;
  line-height: 26px;
  overflow: hidden;
  margin-bottom: 15px;
  font-weight: 500;
}
.checkout__total__products li:last-child {
  margin-bottom: 0;
}
.checkout__total__products li samp {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.checkout__total__products li span {
  color: #111111;
  float: right;
  font-weight: 600;
}

.checkout__total__all {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 15px 0;
  margin-bottom: 26px;
}
.checkout__total__all li {
  list-style: none;
  font-size: 16px;
  color: #111111;
  line-height: 40px;
  font-weight: 600;
  overflow: hidden;
}
.checkout__total__all li span {
  color: #f08632;
  float: right;
}

/*---------------------
  Wishlist
-----------------------*/
.wishlist__cart__table table {
  width: 100%;
}
.wishlist__cart__table table thead {
  border-bottom: 1px solid #f2f2f2;
}
.wishlist__cart__table table thead tr th {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.wishlist__cart__table table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}
.wishlist__cart__table table tbody tr:last-child {
  border-bottom: none;
}
.wishlist__cart__table table tbody tr:last-child td {
  padding-bottom: 0;
}
.wishlist__cart__table table tbody tr td {
  padding-bottom: 30px;
  padding-top: 30px;
}
.wishlist__cart__table table tbody tr td.product__cart__item {
  width: 540px;
}
.wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
  float: left;
  margin-right: 30px;
}
.wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
  overflow: hidden;
  padding-top: 35px;
}
.wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.wishlist__cart__table table tbody tr td.cart__price {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  width: 180px;
}
.wishlist__cart__table table tbody tr td.cart__stock {
  font-size: 16px;
  color: #444444;
  width: 150px;
}
.wishlist__cart__table table tbody tr td.cart__btn {
  width: 190px;
}
.wishlist__cart__table table tbody tr td.cart__btn .primary-btn {
  background: #111111;
  color: #ffffff;
}
.wishlist__cart__table table tbody tr td.cart__close {
  text-align: right;
}
.wishlist__cart__table table tbody tr td.cart__close span {
  font-size: 18px;
  display: inline-block;
  color: #111111;
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
}

/*---------------------
  Class
-----------------------*/
.class__item {
  margin-bottom: 55px;
}
.class__item:hover .class__item__pic .label {
  background: #f08632;
}
.class__item:hover .class__item__text h5 a {
  text-decoration: underline;
}

.class__item__pic {
  height: 240px;
  position: relative;
}
.class__item__pic .label {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #111111;
  padding: 4px 15px 2px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 10px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.class__item__text {
  padding: 25px 14px 0 30px;
}
.class__item__text h5 {
  margin-bottom: 10px;
}
.class__item__text h5 a {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.class__item__text span {
  font-size: 14px;
  color: #888888;
  display: block;
  margin-bottom: 14px;
}
.class__item__text p {
  color: #444444;
  line-height: 30px;
}
.class__item__text .read_more {
  font-size: 16px;
  color: #f08632;
  font-weight: 600;
}

.class__sidebar {
  background: #fdf3ea;
  padding: 30px;
}
.class__sidebar h5 {
  font-size: 20px;
  color: #111111;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.class__sidebar form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
  color: #444444;
  background: #ffffff;
  border: none;
  margin-bottom: 20px;
}
.class__sidebar form input::-webkit-input-placeholder {
  color: #444444;
}
.class__sidebar form input::-moz-placeholder {
  color: #444444;
}
.class__sidebar form input:-ms-input-placeholder {
  color: #444444;
}
.class__sidebar form input::-ms-input-placeholder {
  color: #444444;
}
.class__sidebar form input::placeholder {
  color: #444444;
}
.class__sidebar form .nice-select {
  float: none;
  border-radius: 0;
  border: none;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
}
.class__sidebar form .nice-select span {
  font-size: 15px;
  color: #444444;
}
.class__sidebar form .nice-select .list {
  margin-top: 0;
  border-radius: 0;
  width: 100%;
}
.class__sidebar form .nice-select:after {
  border-bottom: 1.5px solid #111;
  border-right: 1.5px solid #111;
  height: 9px;
  right: 25px;
  width: 9px;
}
.class__sidebar form button {
  letter-spacing: 2px;
  width: 100%;
}

/*---------------------
    Blog
-----------------------*/
.blog {
  overflow: hidden;
}

.blog__item {
  margin-bottom: 70px;
}

.blog__item__pic {
  height: 385px;
  position: relative;
}
.blog__item__pic .blog__pic__inner {
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -15px;
  width: calc(100% - 40px);
  padding: 30px 0 0;
}
.blog__item__pic .blog__pic__inner .label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  background: #f08632;
  display: inline-block;
  padding: 4px 15px 2px;
}
.blog__item__pic .blog__pic__inner ul {
  display: inline-block;
  margin-left: 25px;
}
.blog__item__pic .blog__pic__inner ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.blog__item__pic .blog__pic__inner ul li span {
  color: #111111;
}
.blog__item__pic .blog__pic__inner ul li:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "|";
}
.blog__item__pic .blog__pic__inner ul li:last-child {
  margin-right: 0;
}
.blog__item__pic .blog__pic__inner ul li:last-child:after {
  display: none;
}

.blog__item__text {
  padding-top: 42px;
}
.blog__item__text h2 {
  font-family: "Playfair Display", serif;
  color: #111111;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 48px;
}
.blog__item__text p {
  color: #444444;
  margin-bottom: 26px;
}
.blog__item__text a {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 2px solid #f08632;
}

/*---------------------
  Blog Sidebar
-----------------------*/
.blog__sidebar__search {
  margin-bottom: 65px;
}
.blog__sidebar__search form {
  position: relative;
}
.blog__sidebar__search form input {
  height: 50px;
  width: 100%;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  border: 1px solid #e1e1e1;
}
.blog__sidebar__search form input::-webkit-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::-moz-placeholder {
  color: #444444;
}
.blog__sidebar__search form input:-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__search form input::placeholder {
  color: #444444;
}
.blog__sidebar__search form button {
  font-size: 18px;
  color: #111111;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
}

.blog__sidebar__item {
  margin-bottom: 65px;
}
.blog__sidebar__item:last-child {
  margin-bottom: 0;
}
.blog__sidebar__item h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  margin-bottom: 35px;
}
.blog__sidebar__item h5:before {
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 10px;
  background: rgba(226, 108, 12, 0.3);
  content: "";
}
.blog__sidebar__item .blog__sidebar__social a {
  display: inline-block;
  font-size: 16px;
  color: #111111;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background: #f2f2f2;
  line-height: 46px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.blog__sidebar__item .blog__sidebar__social a:hover {
  background: #111111;
  color: #ffffff;
}
.blog__sidebar__item .blog__sidebar__social a:last-child {
  margin-right: 0;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li {
  list-style: none;
  line-height: 36px;
  overflow: hidden;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li:hover a {
  text-decoration: line-through;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li:hover a span {
  color: #f08632;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li a {
  font-size: 16px;
  color: #444444;
}
.blog__sidebar__item .blog__sidebar__item__categories ul li a span {
  float: right;
}
.blog__sidebar__item p {
  margin-bottom: 25px;
}
.blog__sidebar__item form input {
  height: 50px;
  width: 100%;
  font-size: 14px;
  color: #444444;
  padding-left: 20px;
  border: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.blog__sidebar__item form input::-webkit-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::-moz-placeholder {
  color: #444444;
}
.blog__sidebar__item form input:-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::-ms-input-placeholder {
  color: #444444;
}
.blog__sidebar__item form input::placeholder {
  color: #444444;
}
.blog__sidebar__item form label {
  font-size: 14px;
  color: #444444;
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 22px;
  display: block;
}
.blog__sidebar__item form label input {
  position: absolute;
  visibility: hidden;
}
.blog__sidebar__item form label input:checked ~ .checkmark {
  border-color: #f08632;
}
.blog__sidebar__item form label input:checked ~ .checkmark:after {
  opacity: 1;
}
.blog__sidebar__item form label .checkmark {
  position: absolute;
  left: 0;
  top: 3px;
  height: 14px;
  width: 14px;
  border: 1.5px solid #888888;
  content: "";
  border-radius: 2px;
}
.blog__sidebar__item form label .checkmark:after {
  position: absolute;
  left: 1px;
  top: -3px;
  width: 14px;
  height: 7px;
  border: solid #f08632;
  border-width: 1.5px 1.5px 0px 0px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}

.blog__sidebar__recent .blog__sidebar__recent__item:last-child {
  margin-bottom: 0;
}

.blog__sidebar__recent__item {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.blog__sidebar__recent__item__pic {
  float: left;
  margin-right: 25px;
}

.blog__sidebar__recent__item__text {
  overflow: hidden;
}
.blog__sidebar__recent__item__text h4 {
  font-size: 20px;
  color: #111111;
  line-height: 26px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin-bottom: 8px;
}
.blog__sidebar__recent__item__text span {
  font-size: 12px;
  color: #888888;
}

/*---------------------
  Blog Hero
-----------------------*/
.blog-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 640px;
}

.blog__hero__text {
  background: #ffffff;
  text-align: center;
  padding: 50px 20px 45px;
}
.blog__hero__text .label {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  background: #111111;
  display: inline-block;
  padding: 4px 15px;
}
.blog__hero__text h2 {
  font-size: 46px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  color: #111111;
  margin: 20px 0;
}
.blog__hero__text ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.blog__hero__text ul li:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "|";
}
.blog__hero__text ul li span {
  color: #111111;
}
.blog__hero__text ul li:last-child {
  margin-right: 0;
}
.blog__hero__text ul li:last-child:after {
  display: none;
}

/*---------------------
  Blog Details
-----------------------*/
.blog-details {
  padding-top: 70px;
  padding-bottom: 90px;
}

.blog__details__content {
  position: relative;
}

.blog__details__share {
  width: 46px;
  position: absolute;
  left: -70px;
  top: 0;
}
.blog__details__share a {
  font-size: 16px;
  color: #ffffff;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  line-height: 46px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.blog__details__share a.facebook {
  background: #3263af;
}
.blog__details__share a.twitter {
  background: #40c4ff;
}
.blog__details__share a.youtube {
  background: #ff0000;
}
.blog__details__share a.instagram {
  background: -webkit-gradient(linear, left top, right top, from(#af00e1), to(#ff9e35));
  background: -o-linear-gradient(left, #af00e1, #ff9e35);
  background: linear-gradient(to right, #af00e1, #ff9e35);
}

.blog__details__text p {
  color: #444444;
  margin-bottom: 30px;
}
.blog__details__text p:last-child {
  margin-bottom: 0;
}

.blog__details__recipe {
  padding: 25px 70px 20px;
  overflow: hidden;
  background: #f5f5f5;
  margin-top: 40px;
  margin-bottom: 50px;
}

.blog__details__recipe__item {
  width: 33.33%;
  float: left;
}
.blog__details__recipe__item h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.blog__details__recipe__item h6 img {
  margin-right: 8px;
}
.blog__details__recipe__item span {
  font-size: 14px;
  color: #888888;
}

.blog__details__recipe__details {
  margin-bottom: 38px;
}

.blog__details__ingredients h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.blog__details__ingredients ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 40px;
  position: relative;
}
.blog__details__ingredients ul li span {
  font-weight: 600;
  position: absolute;
  left: 0;
  top: -5px;
}

.blog__details__direction {
  margin-bottom: 40px;
}
.blog__details__direction h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.blog__details__direction ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 30px;
  letter-spacing: 1px;
  padding-left: 40px;
  position: relative;
}
.blog__details__direction ul li span {
  position: absolute;
  left: 0;
  top: 0;
}

.blog__details__print {
  margin-bottom: 40px;
}
.blog__details__print .primary-btn {
  background: transparent;
  border: 1px solid #f08632;
  color: #111111;
}
.blog__details__print .primary-btn i {
  font-size: 18px;
}

.blog__details__tags {
  padding-top: 30px;
  border-top: 1px solid #e8eff4;
  margin-top: 40px;
  margin-bottom: 60px;
}
.blog__details__tags span {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  display: inline-block;
  margin-right: 25px;
}
.blog__details__tags a {
  font-size: 14px;
  color: #444444;
  background: #f2f2f2;
  display: inline-block;
  padding: 7px 15px 5px;
  margin-right: 10px;
}
.blog__details__tags a:last-child {
  margin-right: 0;
}

.blog__details__btns {
  margin-bottom: 40px;
}

.blog__details__btns__item {
  margin-bottom: 20px;
}
.blog__details__btns__item.blog__details__btns__item--next {
  text-align: right;
}
.blog__details__btns__item.blog__details__btns__item--next a span {
  margin-right: 0;
  margin-left: 5px;
}
.blog__details__btns__item a {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
}
.blog__details__btns__item a span {
  font-size: 24px;
  color: #444444;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.blog__details__author {
  position: relative;
  background: #fdf3ea;
  overflow: hidden;
  padding: 50px;
  margin-bottom: 85px;
}

.blog__details__author__pic {
  float: left;
  margin-right: 30px;
}
.blog__details__author__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.blog__details__author__text {
  overflow: hidden;
}
.blog__details__author__text h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.blog__details__author__text .blog__details__author__social {
  position: absolute;
  right: 50px;
  top: 45px;
}
.blog__details__author__text .blog__details__author__social a {
  font-size: 16px;
  color: #111111;
  display: inline-block;
  margin-right: 16px;
}
.blog__details__author__text .blog__details__author__social a:last-child {
  margin-right: 0;
}
.blog__details__author__text p {
  margin-bottom: 0;
  line-height: 24px;
  color: #444444;
}

.blog__details__comment {
  position: relative;
}
.blog__details__comment h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
  margin-bottom: 45px;
}
.blog__details__comment h5:before {
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 10px;
  background: rgba(226, 108, 12, 0.3);
  content: "";
}
.blog__details__comment .primary-btn {
  background: rgba(226, 108, 12, 0.2);
  color: #111111;
  position: absolute;
  right: 0;
  top: -12px;
}

.blog__details__comment__item {
  overflow: hidden;
  margin-bottom: 45px;
}
.blog__details__comment__item:last-child {
  margin-bottom: 0;
}

.blog__details__comment__item--reply {
  padding-left: 50px;
}

.blog__details__comment__item__pic {
  float: left;
  margin-right: 30px;
}
.blog__details__comment__item__pic img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.blog__details__comment__item__text {
  position: relative;
  overflow: hidden;
}
.blog__details__comment__item__text h6 {
  font-size: 16px;
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.blog__details__comment__item__text span {
  font-size: 14px;
  color: #888888;
  display: block;
  margin-bottom: 14px;
}
.blog__details__comment__item__text p {
  color: #444444;
  margin-bottom: 0;
}
.blog__details__comment__item__text .blog__details__comment__btns {
  position: absolute;
  right: 0;
  top: 20px;
}
.blog__details__comment__item__text .blog__details__comment__btns a {
  font-size: 14px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 24px;
  position: relative;
}
.blog__details__comment__item__text .blog__details__comment__btns a:after {
  position: absolute;
  right: -16px;
  top: -2px;
  content: "|";
  color: #888888;
  font-weight: 500;
}
.blog__details__comment__item__text .blog__details__comment__btns a:last-child {
  margin-right: 0;
}
.blog__details__comment__item__text .blog__details__comment__btns a:last-child:after {
  display: none;
}

/*---------------------
  Contact
-----------------------*/
.contact .map {
  height: 400px;
  margin-bottom: 70px;
}

.contact__address {
  padding-bottom: 40px;
  border-bottom: 1px solid #e8eff4;
  margin-bottom: 70px;
}

.contact__address__item {
  margin-bottom: 30px;
}
.contact__address__item h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact__address__item ul li {
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.contact__address__item ul li:last-child {
  margin-bottom: 0;
}
.contact__address__item ul li span {
  font-size: 24px;
  color: #111111;
  margin-right: 25px;
  float: left;
}
.contact__address__item ul li p {
  font-size: 14px;
  color: #444444;
  line-height: 26px;
  margin-bottom: 0;
  overflow: hidden;
}

.contact__text h3 {
  color: #111111;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.contact__text ul {
  margin-bottom: 35px;
}
.contact__text ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 36px;
}

.contact__form form input {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  margin-bottom: 30px;
}
.contact__form form input:last-child {
  color: #111111;
}
.contact__form form textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 24px;
  resize: none;
}
.contact__form form textarea:last-child {
  color: #111111;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .instagram__text {
    padding-top: 40px;
  }

  .shop__option__search form .nice-select {
    width: 30%;
  }

  .shop__option__search form input {
    width: 70%;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -15px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    color: #888888;
    position: absolute;
    left: -15px;
    top: 28%;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -15px;
  }

  .footer__widget:after {
    right: 0px;
  }

  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
    padding-top: 10px;
  }

  .wishlist__cart__table table tbody tr td.cart__btn .primary-btn {
    padding: 14px 20px;
  }

  .blog__details__recipe {
    padding: 25px 40px 20px;
  }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__menu ul li a {
    padding: 20px 28px 18px;
  }

  .header__top__left ul li {
    margin-right: 20px;
  }

  .header__top__left ul li:after {
    right: -13px;
  }

  .header__top__right__links {
    margin-right: 15px;
  }

  .header__top__right__links a {
    margin-right: 25px;
  }

  .header__top__right__links a:after {
    right: -15px;
  }

  .hero__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .hero__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .categories__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }

  .class {
    padding-bottom: 100px;
  }

  .class__form {
    height: auto;
    margin-bottom: 50px;
  }

  .class__video {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }

  .testimonial__item .rating {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .testimonial__item {
    padding: 40px 35px 35px 35px;
  }

  .instagram__text {
    padding-top: 0;
    margin-bottom: 100px;
  }

  .footer__newslatter {
    padding-left: 0;
  }

  .copyright__text {
    margin-bottom: 15px;
    text-align: center;
  }

  .copyright__widget {
    text-align: center;
  }

  .footer__widget:after {
    display: none;
  }

  .footer__about:after {
    display: none;
  }

  .shop__option__search form .nice-select {
    width: 40%;
  }

  .shop__option__search form input {
    width: 60%;
  }

  .shop__option__right .nice-select {
    margin-right: 5px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }

  .product__details__text {
    padding-top: 40px;
  }

  .cart__discount {
    padding-top: 40px;
  }

  .class__sidebar {
    margin-top: 40px;
  }

  .blog__sidebar {
    padding-top: 50px;
  }

  .blog__details__share {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 40px;
  }

  .blog__details__share a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 6px;
  }
  .blog__details__share a:last-child {
    margin-right: 0;
  }

  .blog__details__ingredients {
    margin-bottom: 25px;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .blog__details__ingredients__pic img {
    min-width: 100%;
  }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .canvas__open {
    display: block;
    font-size: 22px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 34px;
  }

  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }

  .offcanvas-menu-overlay.active {
    visibility: visible;
  }

  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 50px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }

  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }

  .offcanvas__menu {
    display: none;
  }

  .slicknav_btn {
    display: none;
  }

  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .slicknav_nav ul {
    margin: 0;
  }

  .slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 7px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }

  .slicknav_nav .slicknav_arrow {
    color: #111111;
  }

  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }

  .slicknav_nav a:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }

  .slicknav_nav {
    display: block !important;
  }

  .offcanvas__option ul li {
    font-size: 14px;
    color: #111111;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    padding: 2px 0;
    cursor: pointer;
  }
  .offcanvas__option ul li a {
    color: #111111;
  }
  .offcanvas__option ul li:hover ul {
    top: 24px;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas__option ul li ul {
    background: #111111;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 44px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .offcanvas__option ul li ul li {
    list-style: none;
    font-size: 13px;
    color: #ffffff;
    padding: 2px 15px;
    cursor: pointer;
  }
  .offcanvas__option ul li ul li:after {
    display: none;
  }
  .offcanvas__option ul li:after {
    position: absolute;
    right: -19px;
    top: 1px;
    content: "|";
    color: #bbbbbb;
  }
  .offcanvas__option ul li:last-child {
    margin-right: 0;
  }
  .offcanvas__option ul li:last-child:after {
    display: none;
  }
  .offcanvas__option ul li span {
    color: #888888;
  }

  .offcanvas__logo {
    margin-bottom: 40px;
  }
  .offcanvas__logo a {
    display: inline-block;
  }

  .offcanvas__cart {
    margin-bottom: 30px;
  }

  .offcanvas__cart__links {
    display: inline-block;
    margin-right: 20px;
  }
  .offcanvas__cart__links a {
    display: inline-block;
    margin-right: 30px;
    position: relative;
  }
  .offcanvas__cart__links a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "|";
    font-size: 16px;
    color: #bababa;
  }
  .offcanvas__cart__links a:last-child {
    margin-right: 0;
  }
  .offcanvas__cart__links a:last-child:after {
    display: none;
  }

  .offcanvas__cart__item {
    display: inline-block;
  }
  .offcanvas__cart__item a {
    position: relative;
    display: inline-block;
    margin-right: 6px;
  }
  .offcanvas__cart__item a span {
    font-size: 15px;
    color: #111111;
    font-weight: 600;
    position: absolute;
    left: 7px;
    top: 4px;
  }
  .offcanvas__cart__item .cart__price {
    display: inline-block;
    color: #888888;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 4px;
  }
  .offcanvas__cart__item .cart__price span {
    color: #111111;
  }

  .header__top__left {
    display: none;
  }

  .header__top__right {
    display: none;
  }

  .header__logo {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
  }

  .header__top__inner {
    height: auto;
    padding: 25px 0;
  }

  .header__menu {
    display: none;
  }

  .header .container {
    position: relative;
  }

  .categories__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .class {
    padding-bottom: 100px;
  }

  .class__form {
    height: auto;
    margin-bottom: 50px;
  }

  .class__video {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }

  .instagram__text {
    padding-top: 0;
    margin-bottom: 100px;
    padding: 0 15px;
  }

  .instagram__pic.middle__pic {
    padding-top: 0;
    margin-bottom: 30px;
  }

  .footer__widget:after {
    display: none;
  }

  .footer__about:after {
    display: none;
  }

  .footer__newslatter {
    padding-left: 0;
  }

  .footer__about {
    text-align: left;
  }

  .copyright__text {
    margin-bottom: 15px;
    text-align: center;
  }

  .copyright__widget {
    text-align: center;
  }

  .categories__slider.owl-carousel.owl-loaded.owl-drag {
    padding: 0 15px;
  }

  .shop__option__search form {
    margin-bottom: 30px;
  }

  .shop__option__search form .nice-select {
    width: 36%;
  }

  .shop__option__search form input {
    width: 64%;
  }

  .shop__option__right {
    text-align: center;
  }

  .related__products__slider.owl-carousel .owl-nav {
    width: 100%;
    text-align: center;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .shopping__cart__table {
    overflow-x: auto;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    left: 5px;
  }

  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }

  .shopping__cart__table table tbody tr td.product__cart__item {
    width: auto;
  }

  .shopping__cart__table table tbody tr td.quantity__item {
    width: auto;
  }

  .shopping__cart__table table tbody tr td.cart__price {
    width: auto;
  }

  .wishlist__cart__table {
    overflow-x: auto;
  }

  .wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }

  .wishlist__cart__table table tbody tr td.product__cart__item {
    width: auto;
  }

  .wishlist__cart__table table tbody tr td.quantity__item {
    width: auto;
  }

  .wishlist__cart__table table tbody tr td.cart__price {
    width: auto;
  }

  .cart__discount {
    padding-top: 40px;
  }

  .continue__btn a {
    padding: 14px 20px;
  }

  .checkout__order {
    margin-top: 20px;
  }

  .class__sidebar {
    margin-top: 20px;
  }

  .blog__sidebar {
    padding-top: 30px;
  }

  .blog__details__recipe {
    padding: 25px 20px 20px;
  }

  .blog__details__ingredients {
    margin-bottom: 25px;
  }

  .blog__details__ingredients__pic img {
    min-width: 100%;
  }

  .blog__details__author__text .blog__details__author__social {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 15px;
  }

  .blog__details__author {
    padding: 40px 30px;
  }

  .blog__details__comment__item--reply {
    padding-left: 0;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .about__text {
    margin-bottom: 40px;
  }

  .hero__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .hero__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .product__details__tab .nav-tabs .nav-item {
    margin-right: 20px;
  }

  .product__details__tab .nav-tabs .nav-item:after {
    right: -12px;
  }

  .blog__sidebar {
    padding-top: 50px;
  }

  .blog__details__share {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 40px;
  }

  .blog__details__share a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 6px;
  }
  .blog__details__share a:last-child {
    margin-right: 0;
  }

  .blog__details__recipe__item {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }

  .product__details__big__img {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product__details__big__img img {
    height: auto;
  }

  .product__details__thumb {
    height: auto;
    float: none;
    width: 100%;
    margin-right: -10px;
  }
  .product__details__thumb .pt__item {
    width: calc(20% - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .product__details__text {
    padding-top: 40px;
  }

  .search-model-form input {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .team__btn {
    text-align: left;
    margin-bottom: 40px;
  }

  .shop__pagination {
    text-align: center;
    margin-bottom: 20px;
  }

  .shop__last__text {
    text-align: center;
  }

  .continue__btn {
    text-align: center;
  }

  .continue__btn.update__btn {
    text-align: center;
    margin-top: 20px;
  }

  .breadcrumb__links {
    text-align: left;
    padding-top: 20px;
  }
}
/* Small Device = 320px */
@media only screen and (max-width: 479px) {
  .section-title h2,
.blog__hero__text h2,
.blog__item__text h2 {
    font-size: 28px;
    line-height: normal;
  }

  .hero__text {
    padding: 40px 25px 50px;
  }

  .hero__text h2 {
    font-size: 34px;
    line-height: 45px;
  }

  .categories__item {
    margin: 0 auto;
  }

  .testimonial__item .rating {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .testimonial__item {
    padding: 30px 25px 25px 30px;
  }

  .shop__option__search form .nice-select {
    padding-left: 8px;
  }

  .shop__option__search form .nice-select {
    width: 46%;
  }

  .shop__option__search form input {
    width: 54%;
    padding-left: 10px;
  }

  .product__details__option .quantity {
    margin-bottom: 20px;
  }

  .cart__total {
    padding: 30px 20px 30px;
  }

  .blog__item__pic .blog__pic__inner ul {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }

  .blog__details__author__pic {
    float: none;
    margin-right: 0;
  }

  .blog__details__author__text {
    padding-top: 25px;
  }

  .blog__details__recipe__item {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }

  .blog__details__comment__item__pic {
    float: none;
    margin-bottom: 30px;
  }

  .blog__details__comment .primary-btn {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 30px;
  }

  .blog__details__comment__item__text .blog__details__comment__btns {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 15px;
  }

  .product__details__big__img img {
    height: auto;
  }

  .product__details__img {
    height: auto;
    overflow: hidden;
  }

  .product__details__thumb {
    height: auto;
  }

  .breadcrumb__text h2 {
    font-size: 40px;
  }

  .checkout__total__products li span {
    float: none;
    display: block;
    margin-top: 10px;
  }

  .checkout__order__products span {
    display: none;
  }
}